.dispose {
    flex: 1 0 auto;
}

.description-dispose, .description-search {
    position: relative;
    float: left;
    margin-top: 4%;
    margin-left: 4%;
    width: 25%;
    font-size: 4vw;
    font-family: Roboto;
    text-align: center;
    cursor: default;
}

.description-search {
    margin-top: 6%;
    margin-left: 2.5%;
    font-size: 5vw;
}