.game-content {
    flex: 1 0 auto;
}

.player-table, .enemy-table {
    position: relative;
    padding: 2% 2% 1%;
    width: 46%;
    transition: opacity .7s;
}

.player-table {
    float: left;
}

.enemy-table, .enemy-table > table {
    float: right;
}

.arrow-right, .arrow-left {
    position: absolute;
    display: block;
    width: 10%;
    left: 45%;
    top: 40%;
}

.arrow-left {
    transform: rotate(180deg);
    transition: transform 1s;
}