header {
    width: 99%;
    font-size: 3.5vw;
    padding: 0.5%;
    background: #1a237e;
    color: white;
    font-family: Roboto;
    cursor: default;
}

.anchor {
    position: absolute;
    /*margin-top: 0.3%;*/
    right: 0.5%;
    width: 14%;
}