.victory {
    flex: 1 0 auto;
    background: url(victory.jpg) center center no-repeat;
    background-size: cover;
}

.defeat {
    flex: 1 0 auto;
    background: url(defeat.jpg) center center no-repeat;
    background-size: cover;
}

.victory-button, .defeat-button {
    display: block;
    margin: 10% auto 0;
    padding: 1.5%;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, .6);

    background-color: #1a237e;
    color: white;

    transition: background-color .3s;
}

.victory-button:hover, .victory-button:focus, .defeat-button:hover, .defeat-button:focus {
    background-color: #000051;
    cursor: pointer;
}

.victory-button > span, .defeat-button > span {
    display: block;
    font-size: 4.2vw;
    font-family: Roboto;
}

.caption {
    text-align: center;
    display: block;
    margin: 5% auto 0;
    font-size: 15vw;
    font-family: Roboto;
    font-style: italic;
    color: #1a237e;
    cursor: default;
    text-shadow: 3px 3px 0 white, 5px 5px 8px #1a237e;
}

